.cell{
    background-image: url('../images/goldFrame.jpg');
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}
.cell>div{
    height: 68%!important;
    width: 63%;
    overflow: scroll;
    background-color: aqua;
}
/* .section1>p{font-size: 6vw;} */
.any>.section1{
  text-align: center;

animation: floatText 45s infinite linear;
position: relative;
top: 100%;
}
@keyframes floatText {
    to {
      transform: translateY(-100%);
    }
  }