.cell{
    background-image: url('../images/goldFrame.jpg');
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    padding: 2px;
    display: block;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}
.cell>div{
  position: relative;
  height: 69%!important;
  width: 66%;
  overflow: scroll;
  background-color: aqua;
  top: 10%;
  right: -16%;
}
.titleofcell{font-size: 86%;
  color: #eca2c7;
  position: relative;
  font-weight: 700;
  top: 6%;}
/* .section1>p{font-size: 6vw;} */
.any>.section1{
  text-align: center;

animation: floatText 45s infinite linear;
position: relative;
top: 100%;
}
@keyframes floatText {
    to {
      transform: translateY(-100%);
    }
  }