.grid-container > div {

background-color: blueviolet;
/* min-width: 100px; */
}
/* .grid-container > div:nth-child(1) {
  grid-column: 1 / span 2;
}

.grid-container > div:nth-child(3) {
  grid-row: 2 / span 2;
}

.grid-container > div:nth-child(4) {
  grid-column: 2 / span 2; */
/* } */
.grid-container {
  display: grid;
  width:100%;
  height:700px;
  margin: 0 auto;
  grid-template-columns: 20% 28% 29% 20%;
  grid-template-rows: 20% 30% 40% 10%;
  grid-gap: 1% 1%;
  grid-template-areas:
    "l1 header header r1"
    "l2 mainOfGA mainOfGA r2"
    "l3 mainOfGA mainOfGA r3"
    "footer footer footer footer";
    
}

.mainOfGA { grid-area: mainOfGA;min-width: 200px;
  text-align: center;
  font-family: david;
  /* background-image: url('../images//candle.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.6; */

  padding: 70px 0;

}
.mainOfGA h1{
  display:inline
}
.mainOfGA h2{
  display:inline
}

.header1 { grid-area: header; }

.footer { grid-area: footer; }

.r1 { grid-area: r1; }

.r2>.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 }

.r2 { grid-area: r2; }

.r3 { grid-area: r3; }

.l1 { grid-area: l1; }

.l2 { grid-area: l2; }

.l3 { grid-area: l3; }
