.main{
    direction: rtl;
    height: 100%;
    width: 100%;
    /* margin: 1%; */
    /* overflow-y: scroll;    */
}
.forminput{
    /* display: flex; */
    /* flex-wrap: wrap; */
    height: 450px;
   width: 450px;
}
