.MyRouter{
    background: rgb(187, 187, 230);
}
.header{
background: rgb(226, 190, 190);
position: sticky;
min-height: 98px;

z-index: 100;
top: 0;}

.header h1{
    margin: 0;
}
li{
    list-style: none;
    float: right;
    /* display: inline-block; */
    width: 30%;
/* padding: 20px; */
}