.MyRouter{
    /* background: rgb(187, 187, 230); */
}
.header li:hover {
    background-color: rgb(233, 233, 218);
  }
 
.bg-light {
    background-color: #f8f9fa!important;
    margin-top: 10px;
    font-weight: 700;
    /* font-size: 15px; */
}

.header{
background: rgb(219, 212, 212);
font-size: 30px;
position: sticky;
height: 98px;

z-index: 10;
top: 0;}
ul{
}
.header h1{
    margin: 0;
}
li{
    list-style: none;
    float: right;
    text-align: center;
    /* margin-left: 3px; */

    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border-left: maroon 2px solid; */
    /* display: inline-block; */
    width: 19%;
    /* padding: 20px; */
}

li a{
    font-size: 30px;
    position: relative;
    top: 27%;
    text-decoration: none;
    margin: 0
}
.logo{
    background-image: url('./images/kotel.jpg');
    background-size: contain;
  
    opacity: .6; 

    
}
@media (min-width: 1300px) {
    .navbar-light .navbar-nav .nav-link {
        color: rgb(226 20 20 / 50%);
        min-width: 54.5%;
    }
    span{
        position: absolute;
    /* top: 11px; */
    right: 63px;
    color: #f8f9fa;
    top: 3px;
    font-size: 96%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
    
  }
@media (max-width: 1299px) and (min-width:1200px){
    .navbar-light .navbar-nav .nav-link {
        color: rgb(226 20 20 / 50%);
        min-width: 56.5%;
    }
    span{
        position: absolute;
        top: 11px;
        right: 63px;
        color: #f8f9fa;
        /* top: 3px; */
        font-size: 135%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    li a{
        font-size: 30px;
        position: relative;
        top: 27%;
        text-decoration: none;
        margin: 0
    }
  }
@media (max-width: 1199px) and (min-width:1020px){
    .navbar-light .navbar-nav .nav-link {
        color: rgb(226 20 20 / 50%);
        min-width: 56.5%;
    }
    span{
        position: absolute;
        top: 11px;
        right: 63px;
        color: #f8f9fa;
        /* top: 3px; */
        font-size: 135%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    li a{
        font-size: 30px;
        position: relative;
        top: 27%;
        float: right;

        text-decoration: none;
        margin: 0
    }
  }
@media (max-width: 1019px) and (min-width:840px){
    .navbar-light .navbar-nav .nav-link {
        color: rgb(226 20 20 / 50%);
        min-width: 40.5%;
    }
    span{
        position: absolute;
        top: 11px;
        right: 26px;
        color: #f8f9fa;
        /* top: 3px; */
        font-size: 135%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    li a{
        font-size: 20px;
        position: relative;
        top: 27%;
        text-decoration: none;
        margin: 0;
        float: right;

    }
  }
@media (max-width: 839px) and (min-width:680px){
    .navbar-light .navbar-nav .nav-link {
        color: rgb(226 20 20 / 50%);
        min-width: 56.5%;
    }
    span{
        position: absolute;
        top: 11px;
        right: 63px;
        color: #f8f9fa;
        /* top: 3px; */
        font-size: 135%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    li a{
        font-size: 20px;
        font-weight: bolder;
        position: relative;
        top: 27%;
        float: right;

        text-decoration: none;
        margin: 0
    }
  }
@media (max-width: 679px) and (min-width:540px){
    span{
        position: absolute;
        top:3px;
        right: 10px;
        color: red;
        font-weight: bolder;
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    li a{
        font-size: 20px;
        font-weight: bolder;
        position: relative;
        top: 27%;
        text-decoration: none;
        margin: 0
    }
  }
@media (max-width:539px){
    .navbar-light .navbar-nav .nav-link {
        color: rgb(226 20 20 / 50%);
        min-width: 19.5%;
    }
    span{
        position: absolute;
        top:3px;
        right: 10px;
        color: red;
        font-weight: bolder;
        font-size: 14px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    li a{
        font-size: 20px;
        float: right;
        font-weight: bolder;
        position: relative;
        top: 27%;
        text-decoration: none;
        margin: 0
    }
  }
  